<!-- For Search bar -->
<div class="container input-group my-3 w-50">
  <input type="text" (keyup.enter)="search()" class="form-control" [(ngModel)]="movieSearch" placeholder="Search movie.." >
  <div class="input-group-append">
     <button type="submit" id="search-ico" (click)="search()"><i class="fa fa-search"></i></button>
  </div>
</div>

<h3> Total Favoourite Movies Added : {{favMovies.length}}</h3>
<h3 *ngIf="showError">{{errorMsg}}</h3>

<!-- Card layout for showing searched movies-->
<div class="container py-3" *ngFor="let movie of movies">
   <div class="card">
     <div class="row">
       <div class="col-md-3">
           <img class="img-fluid d-block" [attr.src]="movieUrl+movie.poster_path" alt="Image not found">
         </div>
         <div class="col-md-9 px-2">
           <div class="card-block px-2 py-3">
             <h5 class="card-title">{{movie.title}}</h5>
             <p class="card-text">Overview:&nbsp;{{movie.overview}}</p>
             <p class="card-text"></p>
             <p class="card-text">Rating: {{movie.vote_average}}</p>
             <a class="btn btn-primary" (click)="addToFavorite(movie)" >Add to favourite</a>
           </div>
         </div>
       </div>
     </div>
   </div>
