<h1> My Favourite Movies</h1>

<!-- Card layout for showing movie data -->
<div class="container py-3" *ngFor="let movie of favMovies">
   <div class="card">
     <div class="row ">
       <div class="col-md-3">
           <img class="img-fluid d-block" [attr.src]="movieUrl+movie.poster_path" alt="Image not found">
         </div>
         <div class="col-md-9 px-2">
           <div class="card-block px-2 py-3">
             <h4 class="card-title">{{movie.title}}</h4>
             <p class="card-text">Overview:&nbsp;{{movie.overview}}</p>
             <p class="card-text"></p>
             <p class="card-text">Rating: {{movie.vote_average}}</p>
             <a class="btn btn-primary" (click)="deleteMovie(movie.id)" >Delete</a>
           </div>
         </div>
       </div>
     </div>
   </div>
