<div class="container input-group my-3 w-50">
  <input type="text" class="form-control"[(ngModel)]="movieSearch" placeholder="Search movie.." >
  <div class="input-group-append">
     <button type="button" id="search-ico" (click)="search()"></button>
  </div>
</div>
<!-- <div class="container py-3" *ngFor="let item of popularData">
   <div class="card">
     <div class="row ">
       <div class="col-md-3">
           <img class="img-fluid d-block" [attr.src]="baseUrl+item.poster_path" alt="Image not found">
         </div>
         <div class="col-md-9 px-2">
           <div class="card-block px-2 py-3">
             <h4 class="card-title">{{item.title}}</h4>
             <p class="card-text">Overview:&nbsp;{{item.overview}}</p>
             <p class="card-text"></p>
             <p class="card-text">Rating: {{item.vote_average}}</p>
             <a href="#" class="btn btn-primary">Add to Favourite</a>
           </div>
         </div>
       </div>
     </div>
   </div> -->
